{% if steps and steps|length > 0 %}
{% load custom_filter %}
<div class="flex justify-center flex-col">
  <h2 class="text-xl font-bold mb-4 uppercase text-center">Hasil Iterasi</h2>
  {% for step, description in combined_steps %}
    <div class="min-w-6 flex flex-col justify-evenly items-center mx-6">
        <p class="text-center mb-4 text-purple-700 font-semibold">{{ description }}</p>
        <table class="mx-4 mb-4 w-full bg-white shadow-md rounded">
       
                <tr class="bg-purple-600 text-white font-bold">
                    <th rowspan="4" class="px-4 py-2 text-center">Step {{ forloop.counter }}</th>
                </tr>
            
      
                {% for row in step %}
                <tr class="text-center">
                    {% for value in row %}
                    <td class="border px-4 py-2">
                        {{ value|format_number }}
                    </td>                    
                    {% endfor %}
                </tr>
                {% endfor %}
           
        </table>
    </div>
  {% endfor %}
</div>
<div class="flex justify-center flex-col mt-8">
    <h2 class="text-xl font-bold mb-4 uppercase text-center">Langkah Substitusi Balik</h2>
    {% for step in back_sub_steps %}
      <div class="min-w-6 flex flex-col justify-evenly items-center mx-6">
          <p class="text-center mb-4 text-purple-700 font-semibold">{{ step }}</p>
      </div>
    {% endfor %}
  </div>
{% endif %}
