{% extends "secant/base.html" %}

{% block title %}Metode Secant{% endblock title %}

{% block contents %}
    <div class='bg-purple-700 mx-4 my-8 p-4 rounded-xl'>
        <h1 class='text-white font-bold text-center pt-3 pb-6 text-xl uppercase'>Metode Secant</h1>
        {% include 'secant/components/form.html' %}
        {% if error_message %}
            <div class="bg-purple-200 text-red-700 p-4 mb-4 rounded text-center font-semibold">{{ error_message }}</div>
        {% endif %}
    </div>
    <div class="mx-10">
        {% include 'secant/components/table.html' %}
    </div>
    {% if plot_div %}
  <div class="mt-6">
    <div>{{ plot_div|safe }}</div>
  </div>
  {% endif %} 

{% endblock contents %}